@import "../../variables.scss";

button {
  display: inline-block;
  background: inherit;
  font-size: inherit;
  font: inherit;
  cursor: pointer;
}

.button {
  padding: 10px 70px;
  border-radius: 50px;

  &:hover {
    opacity: 0.5;
  }

  &__text {
    color: $greyish-white;

    &--purple {
      color: $primaryColor;
    }
  }

  &--purple {
    background-color: $primaryColor;
  }

  &--border-purple {
    border: 3px solid $primaryColor;
  }
}
