@import "../../variables.scss";

.header {
  font-size: 35px;
  width: 70%;
  background-color: $secondaryColor;
  border-radius: 20px;
  padding: 50px 90px;
  margin-top: 10px;
  box-shadow: 0px 8px 8px #00000034;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title,
  &__button {
    font-weight: bold;
    color: $white;
  }

  &__button {
    font-size: 25px;
  }
}
