@import "../../variables.scss";

.post {
  color: $black;
  margin-bottom: 50px;
  display: flex;
  align-items: center;

  &__card {
    background-color: $white;
    padding: 40px;
    width: 900px;
  }

  &__pseudonym {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 30px;
  }

  &__content {
    font-size: 20px;
    padding-bottom: 40px;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
  }
}
